# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

tests/api/test_media/ParkingVideoTrimmed2.mp4 filter=lfs diff=lfs merge=lfs -text
tests/api/test_media/qcam1.mp4 filter=lfs diff=lfs merge=lfs -text
